    $colorPrimaryText: #757575;
    $colorSecondaryText: #212121;
    $colorAkcent: #2196f3;
    $primaryColor: #fff;
    $secondaryBackgraund: #2f303a;
    $colorBorder: #ececec;
    $colorBackground: #f5f4fa;
    $colorBtnHover: #188ce8;
    $colorIcon: #afb1b8;
    $backgroundFooterIcon: rgba(255, 255, 255, 0.1);
    $backgroundHero: #c4c4c4;
    $primaryFontSize: 14px;